<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Blue Harvest Coding Challenge: Bank</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body bgcolor="white">
<H3>Add Account</H3>
<form action="#" th:action="@{/accounts?customerId=} + ${#httpServletRequest.getParameter('customerId')}" th:object="${account}" method="post">
    <table style="width:25%">
        <tr>
            <td>Customer ID:</td>
            <td><input type="text" th:disabled="true" th:amount="${#httpServletRequest.getParameter('customerId')}"
                       th:field="*{customer.id}"/></td>
        </tr>
        <tr>
            <td>Initial Credit (€):</td>
            <td><input type="text" th:field="*{credit}"/></td>
        </tr>
        <tr>
            <td><input type="submit" amount="Submit" value="Create Account" /></td>
            <td><input type="reset" amount="Clear" value="Clear All"/></td>
        </tr>
    </table>
</form>
<H3>Accounts</H3>
<div>
    <table id="accountsTable" class="bank-table" style="width:60%">
        <thead>
        <tr>
            <th>ID</th>
            <th>Holder Name</th>
            <th>Establish Date</th>
            <th>Balance</th>
            <th>Transactions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account, rowStat: ${accounts}">
            <td th:text="${account.id}"></td>
            <td th:text="${account.customer.name} + ' ' + ${account.customer.surname}"></td>
            <td th:text="${#dates.format(account.establishDate, 'yyyy-MM-dd h:mm:ss a')}"></td>
            <td th:text="'€ ' + ${#numbers.formatDecimal(account.credit, 1, 'COMMA', 2, 'POINT')}"></td>
            <td><a th:href="'/transactions?accountId='+${account.id}">View Transactions</a> </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>