<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Blue Harvest Coding Challenge: Bank</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <style type="text/css">
        .customers-table{
            width:100%;
            border-collapse:collapse;
        }
        .customers-table th{
            padding:5px; background: #BFBFBF; border:#000000 2px solid;
        }
        .customers-table td{
            padding:5px; border:#000000 2px solid;
        }
        .customers-table tr:nth-child(odd){
            background: #FFFFFF;
        }
        .customers-table tr:nth-child(even){
            background: #E9E9E9;
        }
    </style>

</head>
<body bgcolor="white">
<H3>Accounts</H3>
<div>
    <table id="accountsTable" class="customers-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Balance</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account, rowStat: ${accounts}">
            <td th:text="${account.id}"></td>
            <td th:text="${account.credit}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>