<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Blue Harvest Coding Challenge: Bank</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

</head>
<body bgcolor="white">
<H3>Add Customer</H3>
<form action="#" th:action="@{/customers}" th:object="${customer}" method="post">
    <table style="width:30%">
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td>Surname:</td>
            <td><input type="text" th:field="*{surname}" /></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><input type="text" th:field="*{address}" /></td>
        </tr>
        <tr>
            <td>Postcode:</td>
            <td><input type="text" th:field="*{postcode}" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
            <td><input type="reset" value="Clear All" /></td>
        </tr>
    </table>
    <!--<p>Name: <input type="text" th:field="*{name}" /></p>-->
    <!--<p>Surname: <input type="text" th:field="*{surname}" /></p>-->
    <!--<p>Address: <input type="text" th:field="*{address}" /></p>-->
    <!--<p>Postcode: <input type="text" th:field="*{postcode}" /></p>-->
    <!--<p> <input type="reset" value="Clear All" /></p>-->
</form>
<H3>Customers</H3>
<div>
    <table id="customersTable" class="bank-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Address</th>
            <th>Postcode</th>
            <th>Accounts</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer, rowStat: ${customers}">
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.surname}"></td>
            <td th:text="${customer.address}"></td>
            <td th:text="${customer.postcode}"></td>
            <td><a th:href="'/accounts?customerId='+${customer.id}">View Accounts</a> </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>